<app-profile-header [headerTitle]="'Notifications'" [showBackBtn]="true"></app-profile-header>

<ion-content>
  <div class="content-wrap">
    <div class="data-not-found-wrap pt-20 pb-20" *ngIf="false">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/no-notification.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="secondary fw-600 sub-heading-xl">No notification yet</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="fw-400 sub-heading-sm ternary">When you get job activity or notifications, they’ll show up her
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="mt-16">
          <ion-col size="12" class="p-0">
            <div class="d-flex justify-content-center c-pointer">
              <div class="ion-align-self-center mt-4">
                <img class="img-wrapper" src="../../assets/imgs/Iconsax/Svg/All/outline/rotate-right.svg" height="20px"
                  width="20px">
              </div>
              <div class="ion-align-self-center fw-500 sub-heading-md primary ml-10">Refresh</div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <div class="backgroud-color">
      <div class="notification-wrap pl-16 pr-16 pt-16">
        <div class="bottom-border pb-16">
          <ion-row>
            <ion-col class="p-0" size="10">
              <div class="fw-500 secondary sub-heading-sm">Job Application Actioned</div>
            </ion-col>
            <ion-col class="p-0 ion-text-end" size="2">
              <img src="../../../../assets/imgs/Iconsax/Svg/All/outline/close-red.svg" height="20px" width="20px" (click)="deleteNotification()">
            </ion-col>
          </ion-row>
          <ion-row class="mt-4">
            <ion-col class="p-0" size="12">
              <div class="fw-400 ternary sub-heading-sm">Woah, Your application to Cadbury promotions approved</div>
            </ion-col>
          </ion-row>
          <ion-row class="mt-8">
            <ion-col class="p-0" size="12">
              <div class="fw-400 ternary sub-heading-sm">August 11, 2022</div>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div class="notification-wrap pl-16 pr-16 pt-16">
        <div class="bottom-border pb-16">
          <ion-row>
            <ion-col class="p-0" size="10">
              <div class="fw-500 secondary sub-heading-sm">Job Application Actioned</div>
            </ion-col>
            <ion-col class="p-0 ion-text-end" size="2">
              <img src="../../../../assets/imgs/Iconsax/Svg/All/outline/close-red.svg" height="20px" width="20px" (click)="deleteNotification()">
            </ion-col>
          </ion-row>
          <ion-row class="mt-4">
            <ion-col class="p-0" size="12">
              <div class="fw-400 ternary sub-heading-sm">Woah, Your application to Cadbury promotions approved</div>
            </ion-col>
          </ion-row>
          <ion-row class="mt-8">
            <ion-col class="p-0" size="12">
              <div class="fw-400 ternary sub-heading-sm">August 11, 2022</div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>