<ion-header class="c-header-wrapper pb-5" [ngClass]="{'bottom-border': !showBackBtn}">
  <ion-toolbar>
    <ion-row class="d-flex bottom-border" *ngIf="showBackBtn">
      <ion-col class="d-flex pb-0 pt-0 pl-16 pr-16" size="12">
        <ion-row class="d-contents">
          <ion-col size="3" class="logo-title ion-align-self-center pr-0 pb-0 pt-0">
            <div class="img-wrapper d-flex">
              <!-- (click)="back()" -->
              <img src="../../assets/imgs/Iconsax/Svg/All/outline/arrow-left.svg" appDebounceClick
                (debounceClick)="back()" [debounceTimeConst]="300">
              <div class="header-title ion-align-self-center ml-8">
                <div class="sub-heading-md secondary fw-400">Back</div>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-text-align-center pl-0 pr-0 pb-0 pt-0 ion-text-center">
            <div class="main-body-heading-sm fw-600 secondary mt-14 mb-14 mr-8 ml-0 w-100 ion-text-center">
              {{headerTitle}}</div>
          </ion-col>
          <ion-col size="3" class="pl-0 pr-0 pb-0 pt-0">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="h-56" *ngIf="!showBackBtn">
      <ion-col class="pl-16 pl-0" [size]="showContactIcon ? 8 : 12">
        <div>
          <div class="main-body-heading-sm fw-600 secondary mt-14 mb-14">{{headerTitle}}</div>
        </div>
      </ion-col>
      <ion-col size="4">
        <div class="ion-text-end">
          <a href="https://api.whatsapp.com/send?phone={{myEarningsService.phone_no}}&amp;text={{myEarningsService.message}}"
            target="_blank">
            <img class="mt-14 mb-14 pr-8" src="../../../assets/imgs/help-contact.svg" appDebounceClick
              (debounceClick)="goToContact()" [debounceTimeConst]="300">
          </a>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="showSearch">
      <ion-col size="12">
        <div class="ml-16 mr-16 mb-8 search-wrap">
          <custom-input [inputType]="'text'" [placeholder]="'Search'" [ngModelData]="search"
            (keyUp)="searchKeyUp($event)" (pasteData)="onPasteSearchKeyUp($event)" [iconPosition]="'left'"
            [id]="'search'" [imgPath]="'../../assets/imgs/Iconsax/Svg/All/outline/search-normal-1.svg'">
          </custom-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>