<ion-header class="c-header-wrapper">
  <ion-toolbar>
    <ion-row class="d-flex bottom-border" *ngIf="showBackBtn">
      <ion-col class="d-flex pb-0 pt-0 pl-16 pr-16" size="12">
        <ion-row class="d-contents">
          <ion-col size="3" class="logo-title ion-align-self-center pr-0 pb-0 pt-0">
            <div class="img-wrapper d-flex">
              <img src="../../assets/imgs/Iconsax/Svg/All/outline/arrow-left.svg" (click)="back()">
              <div class="header-title ion-align-self-center ml-8">
                <div class="sub-heading-md secondary fw-400">Back</div>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-text-align-center pl-0 pr-0 pb-0 pt-0 ion-text-center">
            <div class="sub-heading-md fw-500 secondary mt-14 mb-14 mr-8 ml-0 w-100 ion-text-center">{{headerTitle}}</div>
          </ion-col>
          <ion-col size="3" class="pl-0 pr-0 pb-0 pt-0">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="d-flex h-56 bottom-border" *ngIf="!showBackBtn">
      <ion-col class="d-flex pl-0" [size]="showBackBtn ? 12 : 8">
        <!-- <div class="logo-title pl-13 ion-align-self-center mr-47" *ngIf="showBackBtn">
          <div class="img-wrapper d-flex">
            <img src="../../assets/imgs/Iconsax/Svg/All/outline/arrow-left.svg" (click)="back()">
            <div class="header-title ion-align-self-center ml-8">
              <div class="sub-heading-md secondary fw-400">Back</div>
            </div>
          </div>
        </div> -->
        <div>
          <div class="secondary mt-14 mb-14 mr-8"
            [ngClass]="{'ml-0': showBackBtn , 'ml-16': !showBackBtn , 'main-body-heading-sm': !showBackBtn ,'fw-600': !showBackBtn,
            'sub-heading-md': showBackBtn ,'fw-500': showBackBtn, 'w-100': showBackBtn, 'ion-text-center': showBackBtn}">{{headerTitle}}</div>
        </div>
        <div *ngIf="counts" class="counter-bedge ion-align-self-center primary mt-14 mb-14">
          <div class="pt-4 pb-4 pl-12 pr-12 fw-400">{{counts}}</div>
        </div>
      </ion-col>
      <!-- <ion-col class="ion-align-self-center" [size]="showBackBtn ? 0 : 4" *ngIf="showProfileLogo">
        <div class="d-flex ion-float-right">
          <div class="user-initial-label secondary mt-10 mb-10 mr-16 ion-float-right">
            <div class="ion-text-center p-6 fw-500">AR</div>
          </div>
        </div>
      </ion-col> -->
      <ion-col class="ion-align-self-center" [size]="showBackBtn ? 0 : 4" *ngIf="showCloseBtn">
        <div class="d-flex ion-float-right">
          <div class="user-initial-label secondary mt-10 mb-10 mr-16 ion-float-right">
            <div class="ion-text-center p-6 fw-500">X</div>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showSearch">
      <ion-col size="12">
        <div class="ml-16 mr-16 mb-8 search-wrap">
          <custom-input [inputType]="'text'" [placeholder]="'Search'" [ngModelData]="search"
            (keyUp)="searchKeyUp($event)" [iconPosition]="'left'" [id]="'search'"
            [imgPath]="'../../assets/imgs/Iconsax/Svg/All/outline/search-normal-1.svg'">
          </custom-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>