.c-header-wrapper {
    .counter-bedge {
        background: #E6E7EE;
        border-radius: 32px;
    }

    .user-initial-label {
        background: #E8E8E8;
        border: 1px solid #E8E8E8;
        border-radius: 200px;
    }

    .h-56 {
        height: 56px;
    }

    .mr-47 {
        margin-right: 47px;
    }
}