<app-onboarding-header *ngIf="!onboardingService.showExperience"></app-onboarding-header>
<app-onboarding-header *ngIf="onboardingService.showExperience" [headerTitle]="'Experiences'"></app-onboarding-header>

<ion-content class="container" *ngIf="!onboardingService.showExperience">
  <div class="c-container-body mt-24 ml-16 mr-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary">Select the type of jobs you are interested in
    </div>
    <div *ngFor="let jobType of onboardingService?.jobCategories">
      <div class="sub-heading-sm bold-graphik-font secondary fw-500 mt-24 mb-8">{{jobType.name}}</div>

      <!-- (click)="addSubJobCategory(subJobTypeCategory)" -->
      <ion-chip *ngFor="let subJobTypeCategory of jobType?.jobTypes;let i=index" appDebounceClick
        (debounceClick)="addSubJobCategory(subJobTypeCategory)" [debounceTimeConst]="300"
        [ngClass]="{'active-chip' : subJobTypeCategory.active,'in-active-chip' : !subJobTypeCategory.active}">
        <ion-label class="sub-heading-md fw-400" [ngClass]="{'ternary':!subJobTypeCategory.active}">
          {{subJobTypeCategory.jobTypeName}}
        </ion-label>
        <ion-icon name="add" *ngIf="!subJobTypeCategory.active"></ion-icon>
        <ion-icon name="close" *ngIf="subJobTypeCategory.active"></ion-icon>
      </ion-chip>

      <ion-chip *ngIf="jobType?.jobTypes?.length == 0" class="in-active-chip">
        <ion-label class="sub-heading-md fw-400">No Data</ion-label>
      </ion-chip>

      <!-- <div class="d-flex mt-16">
        <div>
          <ion-icon class="add-more-icon" name="add"></ion-icon>
        </div>
        <div class="add-more">Add more</div>
      </div> -->
    </div>
  </div>
</ion-content>
<ion-footer *ngIf="!onboardingService.showExperience">
  <div class="mt-10">
    <!-- (btnClick)="saveJobTypes()" -->
    <custom-button [title]="'Next'" appDebounceClick (debounceClick)="saveJobTypes()" [debounceTimeConst]="300"
      [disabled]="onboardingService.disabled" [button]="'primary'">
    </custom-button>
  </div>
  <!-- <div class="img-outer-wrap ion-text-center">
        <img class="img-wrapper" src="../../assets/imgs/thick-active-line.png">
      </div> -->
</ion-footer>


<ion-content class="container" *ngIf="onboardingService.showExperience" class="h-75vh">
  <div class="c-container-body mt-24 ml-16 mr-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary">Share work experiences</div>
    <div class="c-input-label secondary mt-24 mb-8">
      <ion-label class="sub-heading-sm bold-graphik-font secondary fw-500">Title and description
      </ion-label>
    </div>
    <custom-input [inputType]="'textarea'" [placeholder]="'Description'" [ngModelData]="onboardingService.description"
      [id]="'description'" [rows]="'5'" (keyUp)="addDescription($event)"
      [maxlength]="onboardingService.maxlengthDescription">
    </custom-input>
    <div class="sub-heading-sm ternary fw-400 mt-8">
      {{onboardingService.leftCharacters}} characters left</div>

    <div class="c-input-label secondary mt-16 mb-8">
      <ion-label class="sub-heading-sm bold-graphik-font secondary fw-500">Add link</ion-label>
    </div>
    <div *ngFor="let link of onboardingService.links; let i=index;"
      [ngClass]="{'mt-10': onboardingService.links.length > 1}">
      <custom-input [inputType]="'text'" [placeholder]="'Link'" [ngModelData]="link.url" (keyUp)="addLink($event)"
        [id]="link.id" [imgPath]="link.imgPath" [imgPath1]="link.imgPath1" (imgPathIconClick)="addNewLink(i)"
        (imgPath1IconClick)="minusNewLink(i)">
      </custom-input>
    </div>
    <!-- <div class="d-flex mt-10">
        <div>
          <ion-icon name="add" class="add-more-icon"></ion-icon>
        </div>
        <div class="add-more">Add more</div>
      </div> -->
  </div>
</ion-content>

<ion-footer *ngIf="onboardingService.showExperience">
  <div>
    <!-- [disabled]="onboardingService.disabled" -->
    <!-- (btnClick)="skip()" -->
    <custom-button [title]="'Skip'" appDebounceClick (debounceClick)="skip()" [debounceTimeConst]="300"
      [button]="'ternary'">
    </custom-button>
  </div>
  <div class="mt-10">
    <!-- (btnClick)="continue()" -->
    <custom-button [title]="'Continue'" appDebounceClick (debounceClick)="continue()" [debounceTimeConst]="300"
      [disabled]="onboardingService.disabled" [button]="'primary'">
    </custom-button>
  </div>
  <!-- <div class="img-outer-wrap ion-text-center">
        <img class="img-wrapper" src="../../assets/imgs/thick-active-line.png">
      </div> -->
</ion-footer>