.picture-video-wrap {
    .w-88 {
        width: 88%;
    }

    .img-wrap {
        filter: drop-shadow(0px 0.956268px 1.91254px rgba(26, 26, 26, 0.04));
        border-radius: 7.65015px;
        height: 95.63px;
        width: 160.17px;
    }
}

.mt-65 {
    margin-top: 65px;
}