<!-- <ion-header>
  <app-onboarding-header></app-onboarding-header>
</ion-header>
<app-onboarding-phone-number *ngIf="onboardingService.isPhoneNumberPage"
  (openOnboardingOtpPage)="openOnboardingOtpPage($event)">
</app-onboarding-phone-number>
<app-onboarding-otp *ngIf="onboardingService.isOtpPage" [mobile]="onboardingService.mobile"
  (openOnboardingPersonalInfoPage)="openOnboardingPersonalInfoPage()">
</app-onboarding-otp>
<ion-content>
  <app-onboarding-personal-info *ngIf="onboardingService.isPersonalInfoPage"
    (openOnboardingProfilePicturePage)="openOnboardingProfilePicturePage()">
  </app-onboarding-personal-info>
</ion-content>
<app-onboarding-profile-picture *ngIf="onboardingService.isProfilePicturePage"
  (skipProfilePictureUploadPage)="skipProfilePictureUploadPage()" (openJobTypePage)="skipProfilePictureUploadPage()">
</app-onboarding-profile-picture>
<app-onboarding-job-type *ngIf="onboardingService.isJobTypePage"
  (openOnboardingProfilePicturePage)="openOnboardingProfilePicturePage()">
</app-onboarding-job-type>

<ion-footer>
  <custom-button [title]="'Next'" [button]="'primary'">
  </custom-button>
</ion-footer> -->