<ion-header class="container">
  <div class="mt-10 ml-15 mr-15 mb-10">
    <div class="logo-title w-100" *ngIf="router.url.includes('onboarding-phone-number')">
      <div>
        <img class="img-wrapper" src="../../assets/imgs/logo.svg">
      </div>
      <div class="align-self-center">
        <div class="header-title d-flex">
          <div class="hour-wrap">hour</div>
          <div class="for-u-wrap">4u</div>
        </div>
      </div>
    </div>

    <div class="logo-title w-100" *ngIf="!router.url.includes('onboarding-phone-number')">
      <div class="img-wrapper">
        <img class="mt-12" src="../../assets/imgs/Iconsax/Svg/All/outline/arrow-left.svg" (click)="back()">
      </div>
      <div class="align-self-center">
        <div class="header-title d-flex">
          <div class="sub-heading-md secondary fw-400">Back</div>
        </div>
      </div>
    </div>
    <div class="d-flex step-wrap">
      <div *ngFor="let step of counter;let i = index;" class="mr-8">
        <img class="img-wrapper" *ngIf="!step.active" src="../../assets/imgs/inactive-line.png">
        <img class="img-wrapper" *ngIf="step.active" src="../../assets/imgs/active-line.png">
      </div>
    </div>
  </div>
</ion-header>