<ion-header class="container">
  <ion-toolbar>
    <div class="pl-16 pr-16 pt-12 d-flex" *ngIf="router.url.includes('onboarding-phone-number')">
      <div>
        <img src="../../assets/imgs/logo.svg">
      </div>
      <div class="ion-align-self-center">
        <div class="header-title d-flex ml-10">
          <div class="main-body-heading-sm fw-500 secondary">hour</div>
          <div class="main-body-heading-sm fw-400 secondary">4u</div>
        </div>
      </div>
    </div>
    <ion-row class="d-flex" *ngIf="!router.url.includes('onboarding-phone-number')">
      <ion-col class="d-flex pl-16 pr-16 pt-16 pb-4" size="12">
        <ion-row class="d-contents">
          <ion-col size="3" class="ion-align-self-center pr-0 pb-0 pt-0">
            <div class="d-flex">
              <!-- (click)="back()" -->
              <img src="../../assets/imgs/Iconsax/Svg/All/outline/arrow-left.svg" appDebounceClick
                (debounceClick)="back()" [debounceTimeConst]="300">
              <div class="ion-align-self-center ml-8">
                <div class="sub-heading-md secondary fw-400">Back</div>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-text-align-center pl-0 pr-0 pb-0 pt-0 ion-text-center">
            <div class="main-body-heading-sm fw-600 secondary mr-8 ml-0">{{headerTitle}}</div>
          </ion-col>
          <ion-col size="3" class="pl-0 pr-0 pb-0 pt-0">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <div class="d-flex step-wrap pl-16 pr-16">
      <div *ngFor="let step of counter;let i = index;" class="mr-8">
        <img class="img-wrapper" *ngIf="!step.active" src="../../assets/imgs/inactive-line.png">
        <img class="img-wrapper" *ngIf="step.active" src="../../assets/imgs/active-line.png">
      </div>
    </div>
  </ion-toolbar>
</ion-header>