.container {
    .logo-title {
        display: flex;

        .pl-41 {
            padding-left: 41px;
        }

        .pl-11-5 {
            padding-left: 11.5px;
        }

    }

    .step-wrap {
        width: 100%;
        justify-content: space-between;

        .img-wrapper {
            @media screen and (max-width: 320px) {
                width: 150px;
                height: 3px;
            }

            @media screen and (min-width: 321px) and (max-width: 768px) {
                width: 160px;
                height: 3px;
            }

            @media screen and (min-width: 769px) and (max-width: 1024px) {
                width: 180px;
                height: 3px;
            }

            @media screen and (min-width: 1025px) and (max-width: 1440px) {
                width: 230px;
                height: 3px;
            }

            @media screen and (min-width: 1441px) {
                width: 310px;
                height: 3px;
            }
        }
    }

    .img {
        max-width: none !important;
    }
}