<app-profile-header [headerTitle]="'Experiences'" [showBackBtn]="true" [isModal]="true"></app-profile-header>

<ion-content class="backgroud-color">
  <div class="mt-20 header-content-wrap">
    <div class="m-16 content-wrap p-16"
      *ngFor="let experience of profileService.profileData?.workExperiences;let i = index;"
      [ngClass]="{'mt-16' : i != 0}">
      <ion-row class="mb-12" *ngIf="experience?.summary">
        <ion-col class="p-0" size="10">
          <div class="fw-400 secondary sub-heading-sm work-exp" [class.show]="show"
            [ngClass]="{'h-auto' : experience?.summary?.length < 50}">{{experience?.summary || ' '}}</div>
          <div *ngIf="experience?.summary?.length > 50"
            class="fw-400 sub-heading-sm primary mt-2 text-decoration-underline" appDebounceClick
            (debounceClick)="show = !show" [debounceTimeConst]="300">{{ show ? 'Read less': 'Read more' }}
          </div>
        </ion-col>
        <ion-col class="p-0 ion-text-end" size="2">
          <img src="../../../assets/imgs/Iconsax/Svg/All/outline/edit-3.svg" appDebounceClick
            (debounceClick)="editExperience(i)" [debounceTimeConst]="300">
        </ion-col>
      </ion-row>
      <ion-row *ngIf="experience?.workLink">
        <ion-col class="p-0" *ngFor="let link of experience?.workLink">
          <div class="d-flex">
            <div>
              <img src="../../../assets/imgs/Iconsax/Svg/All/outline/paperclip-1.svg">
            </div>
            <div class="fw-500 primary sub-heading-xs ml-8">{{link || ''}}</div>
          </div>
        </ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>