<ion-content class="container m-10">
  <div class="container w-100">
    <div class="centered-element w-100">
      <div class="content-wrap">
        <div class="logo-title w-100">
          <div class="align-self-center c-pointer">
            <ion-icon name="arrow-back" (click)="goBack()"></ion-icon>
          </div>
          <div>
            <h3 class="header-title">
              Back
            </h3>
          </div>
        </div>
        <div>
          <h1 class="title">Confirm your identity</h1>
          <p class="sub-title">Please enter the 6-digit code sent via SMS at <b>{{phone_no}}</b></p>
        </div>
        <div class="c-input-label">
          <ion-label>Enter the code</ion-label>
        </div>
        <div>
          <custom-otp (enteredOtp)="otpEnter($event)" [placeholder]="'0'"></custom-otp>
        </div>
        <div class="d-flex">
          <p class="sub-title">Didn't get a code? </p>
          <div class="d-flex resend_code c-pointer">
            <div class="align-self-center mt-4">
              <ion-icon name="refresh"></ion-icon>
            </div>
            <div class="align-self-center resend_link">
              Resend
            </div>
          </div>
        </div>
        <custom-button [title]="'Next'" (btnClick)="nextBtnClick()" [disabled]="otp.length != 6" [button]="'primary'">
        </custom-button>
        <h5 class="or-wrapper"><span>Or</span></h5>
        <div class="fb-logo-title w-100">
          <div class="align-self-center c-pointer">
            <ion-icon name="call" class="call_icon"></ion-icon>
          </div>
          <div>
            <h5 class="fb-wrap c-pointer">
              Give me a call
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>