<ion-content>
  <div class="data-not-found-wrap">
    <div class="center-card-wrap">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/no-internet-connection.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="secondary fw-600 sub-heading-xl">No internet connection</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12">
            <div class="fw-400 sub-heading-sm ternary">Please check your internet connection and open the app again.
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>