<app-onboarding-header [headerTitle]="''"></app-onboarding-header>

<ion-content class="container" id="personal-info">
  <div class="c-container-body mt-24 ml-16 mr-16 mb-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary">Provide your personal information</div>

    <!-- <div class="c-button-wrapper mt-24"> -->
    <!-- (btnClick)="facebookLogin()" -->
    <!-- <custom-button [title]="'Continue with Facebook'" appDebounceClick (debounceClick)="facebookLogin()" [debounceTimeConst]="300" [button]="'secondary'"
        [image]="'../../assets/imgs/facebook.svg'"></custom-button>
    </div>

    <div class="mt-16">
      <div class="ternary sub-heading-sm fw-400 ion-text-center">Or</div>
    </div>  -->

    <div class="secondary fw-500 sub-heading-sm mt-24 mb-8">
      <ion-label>Your name*</ion-label>
    </div>
    <custom-input [inputType]="'text'" [placeholder]="'Full name'" [ngModelData]="onboardingService.full_name"
      [id]="'full_name'" (keyUp)="getFullName($event)" (pasteData)="onPasteGetFullName($event)">
    </custom-input>
    <!-- <div *ngIf="!onboardingService.full_name" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please enter user name</div> -->
    <div *ngIf="showError && !onboardingService.full_name" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please enter
      user name</div>

    <div class="secondary fw-500 sub-heading-sm mb-8 mt-16">
      <ion-label>Date of birth*</ion-label>
    </div>
    <custom-input [inputType]="'date'" [placeholder]="'DOB'" [ngModelData]="onboardingService.dob"
      (dateChange)="getDOB($event)" [id]="'dob'" [name]="'dob'"
      [imgPath]="'../../assets/imgs/Iconsax/Svg/All/outline/calendar-1.svg'" [for]="true">
    </custom-input>
    <!-- <div *ngIf="!onboardingService.dob" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please enter date of birth</div> -->
    <div *ngIf="showError && !onboardingService.dob" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please enter date of
      birth</div>

    <div class="secondary fw-500 sub-heading-sm mb-8 mt-16">
      <ion-label>Email address*</ion-label>
    </div>
    <custom-input [inputType]="'email'" [placeholder]="'Email Address'" [ngModelData]="onboardingService.email_address"
      [id]="'email_address'" (keyUp)="getEmailAddress($event)">
    </custom-input>
    <!-- <div *ngIf="!onboardingService.emailValid" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please enter valid e-mail
      address</div> -->
    <div *ngIf="showError && !onboardingService.emailValid" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please enter
      valid e-mail
      address</div>

    <div class="secondary fw-500 sub-heading-sm mb-8 mt-16">
      <ion-label>Gender*</ion-label>
    </div>
    <div class="d-flex ion-justify-content-between">
      <custom-input [inputType]="'radio'" [ngModelData]="onboardingService.gender" [id]="'male'" [value]="'Male'"
        [name]="'gender'" (radioChange)="getGender($event)">
      </custom-input>
      <custom-input [inputType]="'radio'" [ngModelData]="onboardingService.gender" [id]="'female'" [value]="'Female'"
        [name]="'gender'" (radioChange)="getGender($event)">
      </custom-input>
      <custom-input [inputType]="'radio'" [ngModelData]="onboardingService.gender" [id]="'other'" [value]="'Other'"
        [name]="'gender'" (radioChange)="getGender($event)">
      </custom-input>
    </div>
    <!-- <div *ngIf="!onboardingService.gender" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please select gender</div> -->
    <div *ngIf="showError && !onboardingService.gender" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Please select
      gender</div>

    <!-- <div class="secondary fw-500 sub-heading-sm mb-8 mt-16">
      <ion-label>Referral code</ion-label>
    </div>
    <custom-input [inputType]="'text'" [placeholder]="'Referral code'" [ngModelData]="onboardingService.referralId"
      [id]="'referralId'" (keyUp)="getReferralCode($event)">
    </custom-input> -->
  </div>
</ion-content>

<ion-footer>
  <!-- (btnClick)="savePersonalInfo()" -->
  <custom-button [title]="'Next'" appDebounceClick (debounceClick)="savePersonalInfo($event)" [debounceTimeConst]="300"
    [disabled]="onboardingService.savePersonalInfoBtnDisabled" [button]="'primary'">
  </custom-button>
</ion-footer>