.container {
    position: relative;
    height: 100vh;
    text-align: center;
    background-color: #fff;

    .centered-element {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .header-title {
            padding-left: 15px;
            color: #1A1A1A;
        }

        .content-wrap {
            width: 30%;
            margin: auto;
            text-align: left;
            padding: 24px;

            @media screen and (max-width: 1440px) {
                width: 40%;
            }

            @media screen and (max-width: 1024px) {
                width: 50%;
            }

            @media screen and (max-width: 768px) {
                width: 96%;
            }

            @media screen and (max-width: 425px) {
                width: 98%;
            }
        }

        .c-input-label {
            font-weight: 500;
            font-size: 14px;
            margin: 30px 0px 10px 0px;
        }

        .title {
            font-weight: 600;
            font-size: 24px;
            color: #1A1A1A;
        }

        .sub-title {
            font-weight: 400;
            font-size: 16px;
            color: #1A1A1A;
        }

        .logo-title {
            display: flex;

            .img-wrapper {
                width: 50px;
                height: 50px;
            }
        }

        .fb-logo-title {
            display: flex;
            justify-content: center;

            .img-wrapper {
                width: 50px;
                height: 50px;
            }

            .fb-wrap {
                padding-left: 8px;
                margin-top: 7px;
                font-weight: 500;
                font-size: 16px;
            }
        }

        .c-button-wrapper {
            margin: 20px 0px 20px 0px;
        }

        .button-disabled {
            --background: #EBEBF1;
            border: 1px solid #EBEBF1;
            --color: #B2B3CB;
            color: #B2B3CB;
            box-shadow: 0px 1px 2px rgba(26, 26, 26, 0.04);
            border-radius: 12px;
        }
    }

    .or-wrapper {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #636363;
        line-height: 0.1em;
        margin: 30px 0 20px;

        span {
            background: #fff;
            padding: 0 10px;
            color: #636363;
        }
    }

    .w-100 {
        width: 100%;
    }
}