a {
    padding: 0px !important;
}

.active-label-wrap {
    background: #080A52;
    border: 1px solid #080A52;
    border-radius: 200px;
    color: #fff;
    margin-bottom: 4px;
}

.inactive-label-wrap {
    background: #E8E8E8;
    border: 1px solid #E8E8E8;
    border-radius: 200px;
    color: #1A1A1A;
    margin-bottom: 4px;
}

.profile-2-initial {
    padding: 8px 5px 6px 5px;
}

.profile-1-initial {
    padding: 5px 7px 5px 7px;
}