<ion-tabs (ionTabsDidChange)="setCurrentTab($event)">

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="available-jobs">
      <img *ngIf="activeTab != 'available-jobs'" src="../../assets/imgs/tabs/available-job-search-inactive.svg">
      <img *ngIf="activeTab == 'available-jobs'" src="../../assets/imgs/tabs/available-job-search-active.svg">
      <ion-label>Jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="active-job">
      <img *ngIf="activeTab != 'active-job'" src="../../assets/imgs/tabs/active-job-inactive.svg">
      <img *ngIf="activeTab == 'active-job'" src="../../assets/imgs/tabs/active-job-active.svg">
      <ion-label>Active job</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-earnings">
      <img *ngIf="activeTab != 'my-earnings'" src="../../assets/imgs/tabs/earning-inactive.svg">
      <img *ngIf="activeTab == 'my-earnings'" src="../../assets/imgs/tabs/earning-active.svg">
      <ion-label>Earnings</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-jobs">
      <img *ngIf="activeTab != 'my-jobs'" src="../../assets/imgs/tabs/my-jobs-inactive.svg">
      <img *ngIf="activeTab == 'my-jobs'" src="../../assets/imgs/tabs/my-jobs-active.svg">
      <ion-label>My jobs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <div class="user-initial-label secondary">
        <div class="ion-text-center p-6 fw-500">AR</div>
      </div>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>