.content-wrap-inner {
    box-shadow: 0px 1px 2px rgba(26, 26, 26, 0.04);
    border-bottom: 1px solid #E8E8E8;

    .card-wrap {
        img {
            max-width: none;
        }
    }

    .c-card-wrap {
        background: #FFFFFF;
        border-radius: 12px;
        margin-inline: 0px;
        margin-top: 0px;
    }
}