<!-- <ion-content>
  <div class="content-wrap"> -->
<!-- 1 -->
<div class="content-wrap-inner" *ngIf="activeJobService.activeJob?.job">
  <div class="mt-16 ml-16 mr-16">
    <div class="c-card-wrap">
      <div class="pb-0 card-wrap-header">
        <ion-row class="c-card-header-wrap">
          <ion-col size="12" class="pl-0 pt-0">
            <div class="secondary fw-500 sub-heading-md ion-text-capitalize">
              {{activeJobService.activeJob?.job?.employmentTitle ? activeJobService.activeJob?.job?.employmentTitle
              :
              activeJobService.activeJob?.job?.title}}</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="pt-12 card-wrap">
        <ion-row>
          <ion-col size="12" class="pl-0">
            <div class="d-flex">
              <div class="pr-8">
                <img src="../../assets/imgs/Iconsax/Svg/All/outline/location.svg">
              </div>
              <div class="ternary sub-heading-sm fw-400">
                {{activeJobService.activeJob?.job?.location?.address | Description : 100}}
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="pl-0 pt-8 pb-16">
            <div class="d-flex">
              <div class="pr-8">
                <img src="../../assets/imgs/Iconsax/Svg/All/outline/calendar-1.svg">
              </div>
              <div *ngIf="!activeJobService?.dayChange" class="ternary sub-heading-sm fw-400 ion-align-self-center">
                {{activeJobService.activeJob?.job?.dates[0].date | formatDate | date: 'MMM dd, yyyy'}}
                {{activeJobService.activeJob?.job?.dates[0].timeFrom | formatTime | date: 'hh:mm a' }} to
                {{activeJobService.activeJob?.job?.dates[0].timeTo |
                formatTime | date: 'hh:mm a'}}
              </div>
              <div *ngIf="activeJobService?.dayChange" class="ternary sub-heading-sm fw-400 ion-align-self-center">
                {{activeJobService.activeJob?.job?.dates[0].date | formatDate | date: 'MMM dd, yyyy'}}
                {{activeJobService.activeJob?.job?.dates[0].timeFrom | formatTime | date: 'hh:mm a' }} to
                {{activeJobService?.newDayDate | formatDate | date: 'MMM dd, yyyy'}}
                {{activeJobService.activeJob?.job?.dates[0].timeTo |
                formatTime | date: 'hh:mm a'}}
              </div>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</div>
<!-- </div>
</ion-content> -->