<ion-header class="c-header-wrapper">
  <ion-toolbar>
    <ion-row class="d-flex bottom-border">
      <ion-col class="d-flex pb-0 pt-0 pl-16 pr-16" size="12">
        <ion-row class="d-contents">
          <ion-col size="3" class="logo-title ion-align-self-center pr-0 pb-0 pt-0">
            <div class="img-wrapper d-flex">
              <img src="../../assets/imgs/Iconsax/Svg/All/outline/arrow-left.svg" (click)="back()">
              <div class="header-title ion-align-self-center ml-8">
                <div class="sub-heading-md secondary fw-400">Back</div>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-text-align-center pl-0 pr-0 pb-0 pt-0 ion-text-center">
            <div class="sub-heading-md fw-500 secondary mt-14 mb-14 mr-8 ml-0 w-100 ion-text-center">Set hourly rates
            </div>
          </ion-col>
          <ion-col size="3" class="pl-0 pr-0 pb-0 pt-0">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-card class="p-16 m-16 c-card-wrap" *ngFor="let jobType of setHourlyRatesService?.jobPreferences;let i=index;">
      <ion-card-content class="p-0">
        <ion-row>
          <ion-col size="12">
            <div class="fw-500 secondary sub-heading-sm">{{ jobType.typeName }}</div>
          </ion-col>
        </ion-row>

        <div class="pt-12 pb-16 bottom-border">
          <ion-row>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary"> Level</div>
            </ion-col>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary"> Base Pay</div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-500 sub-heading-md secondary"> {{ jobType.level || '-' }} </div>
            </ion-col>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-500 sub-heading-md secondary">&#x20b9;{{ jobType.basePrice || '0' }}</div>
            </ion-col>
          </ion-row>
        </div>

        <ion-row class="pt-16 pb-12">
          <ion-col size="6" class="pt-0 pb-0">
            <p class="start_ ion-float-left ternary fw-400 sub-heading-sm">
              &#8377;{{jobType.hourlyMinAllowed}}/hr
            </p>
          </ion-col>
          <ion-col size="6" class="pt-0 pb-0">
            <p class="end_ ion-float-right ternary fw-400 sub-heading-sm">
              &#8377;{{jobType.hourlyMaxAllowed}}/hr
            </p>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="fw-400 sub-heading-sm ternary">
              <ion-range [(ngModel)]="jobType.maxHourlyRate" (ionChange)="rateSliderChanged($event,jobType)" [min]="'0'"
                [max]="jobType.hourlyMaxAllowed" color="primary" [step]="1" pin="true"
                class="range-pressed ion-text-center pt-0 pl-8 pr-8">
              </ion-range>
            </div>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <div class="fw-400 secondary sub-heading-sm">You would make approximately &#8377;{{jobType.finalAmount ||
              0}} for
              an</div>
          </ion-col>
          <ion-col size="12">
            <div class="d-flex">
              <div>
                <ion-select interface="action-sheet" class="p-0" id="custom-select" [(ngModel)]="jobType.shiftHours"
                  (ionChange)="changeHourlyRate(jobType)">
                  <ion-select-option *ngFor="let jobHour of setHourlyRatesService?.hoursArray" [value]="jobHour.hour">
                    {{jobHour.displayName}}
                  </ion-select-option>
                </ion-select>
              </div>
              <div class="fw-400 secondary sub-heading-sm ion-align-self-center ml-8">long shift.</div>
            </div>
          </ion-col>
        </ion-row>

      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <!-- (btnClick)="saveHourlyRates()" -->
  <custom-button [title]="'Save'" appDebounceClick (debounceClick)="saveHourlyRates()" [debounceTimeConst]="300"
    [disabled]="false" [button]="'primary'">
  </custom-button>
</ion-footer>