<app-my-jobs-header [headerTitle]="'My jobs'" [showBackBtn]="false" [counts]="myJobsService.totalMyJobsRecords">
</app-my-jobs-header>

<ion-content>
  <ion-segment [(ngModel)]="myJobsService.selectedTab" scrollable mode="md" class="custom-icon bottom-border"
    (ionChange)="handleTabChange($event)" *ngIf="!myJobsService.errorInApiCall">
    <ion-segment-button class="segment ml-16" value="">
      <ion-label class="fw-500 ion-text-none sub-heading-sm d-flex"
        [ngClass]="{'primary':myJobsService.selectedTab == ''}">
        <div class="ion-align-self-center pr-4">All</div>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment" value="APPROVED" id="APPROVED">
      <ion-label class="fw-500 ion-text-none sub-heading-sm d-flex"
        [ngClass]="{'primary':myJobsService.selectedTab == 'APPROVED'}">
        <div class="ion-align-self-center pr-4">Approved</div>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment" value="COMPLETED" id="COMPLETED">
      <ion-label class="fw-500 ion-text-none sub-heading-sm d-flex"
        [ngClass]="{'primary':myJobsService.selectedTab == 'COMPLETED'}">
        <div class="ion-align-self-center pr-4">Completed</div>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment" value="PENDING" id="PENDING">
      <ion-label class="fw-500 ion-text-none sub-heading-sm d-flex"
        [ngClass]="{'primary':myJobsService.selectedTab == 'PENDING'}">
        <div class="ion-align-self-center pr-4">Pending</div>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment" value="REJECTED" id="REJECTED">
      <ion-label class="fw-500 ion-text-none sub-heading-sm d-flex"
        [ngClass]="{'primary':myJobsService.selectedTab == 'REJECTED'}">
        <div class="ion-align-self-center pr-4">Rejected</div>
      </ion-label>
    </ion-segment-button>
    <ion-segment-button class="segment" value="APPLY_LATER" id="APPLY_LATER">
      <ion-label class="fw-500 ion-text-none sub-heading-sm d-flex"
        [ngClass]="{'primary':myJobsService.selectedTab == 'APPLY_LATER'}">
        <div class="ion-align-self-center pr-4">Saved</div>
      </ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-refresher close-duration="20ms" pullFactor="0.5" pullMin="50" pullMax="100" slot="fixed"
    (ionRefresh)="doRefresh($event)" style="position: absolute;">
    <ion-refresher-content refreshingSpinner="lines"></ion-refresher-content>
  </ion-refresher>

  <div class="c-container-wrap" [ngClass]="{'backgroud-color': myJobsService.myJobsList?.length != 0, 
    'h-550' : myJobsService.myJobsList?.length != 0 }">
    <div class="data-not-found-wrap pt-20 pb-20"
      *ngIf="myJobsService.myJobsList.length == 0 && !myJobsService.errorInApiCall">
      <div class="center-card-wrap">
        <div class="pb-0">
          <ion-row>
            <ion-col size="12">
              <img src="../../assets/imgs/no-my-jobs.svg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="p-0">
              <div class="secondary fw-600 sub-heading-xl">No jobs yet</div>
            </ion-col>
          </ion-row>
        </div>
        <div class="mt-12">
          <ion-row>
            <ion-col size="12" class="p-0">
              <div class="fw-400 sub-heading-sm ternary">Your upcoming, past or bookmarked jobs will appear here as soon
                as they are available. </div>
            </ion-col>
          </ion-row>
        </div>
        <div class="mt-12">
          <ion-row>
            <ion-col size="12" class="p-0">
              <!-- (btnClick)="findJobs()" -->
              <custom-button [title]="'Find jobs'" [button]="'primary'" [disabled]="myJobsService.noDataFound"
                appDebounceClick (debounceClick)="findJobs()" [debounceTimeConst]="300">
              </custom-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>

    <div class="data-not-found-wrap pt-20 pb-20" *ngIf="myJobsService.errorInApiCall">
      <div class="center-card-wrap">
        <div class="pb-0">
          <ion-row>
            <ion-col size="12">
              <img src="../../assets/imgs/something-went-wrong.svg">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="p-0">
              <div class="secondary fw-600 sub-heading-xl">Something went wrong</div>
            </ion-col>
          </ion-row>
        </div>
        <div class="mt-12">
          <ion-row>
            <ion-col size="12" class="p-0">
              <div class="fw-400 sub-heading-sm ternary">Sorry, we couldn’t load the jobs due to an internal error.
                Please
                try again.</div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="p-0">
              <!-- (click)="myJobsService.getMyJobs()" -->
              <div class="d-flex justify-content-center c-pointer" appDebounceClick
                (debounceClick)="myJobsService.getMyJobs()" [debounceTimeConst]="300">
                <div class="ion-align-self-center mt-4">
                  <img class="img-wrapper" src="../../assets/imgs/Iconsax/Svg/All/outline/rotate-right.svg">
                </div>
                <div class="ion-align-self-center fw-500 sub-heading-md primary ml-10">Try again</div>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>

    <div class="pt-20 pb-20" *ngIf="myJobsService.myJobsList?.length != 0">
      <div *ngFor="let job of myJobsService.myJobsList;let i = index;" [ngClass]="{'mt-12' : i != 0}">
        <!-- (click)="goToJobDetails(job)" -->
        <ion-card class="c-card-wrap" appDebounceClick (debounceClick)="goToJobDetails(job)" [debounceTimeConst]="300">
          <ion-card-header class="pt-16 pb-0 pr-16 pl-16 card-wrap-header">
            <ion-row class="bottom-border pb-12">
              <ion-col size="8" class="p-0">
                <div class="secondary fw-500 sub-heading-sm ion-text-capitalize">
                  {{job?.employmentTitle ? job?.employmentTitle : job?.title}}</div>
              </ion-col>
              <ion-col size="4" class="p-0">
                <!-- <div class="d-flex ion-float-right completed-bedge">
                <label class="fw-400 sub-heading-xs pr-4">
                  Completed
                </label>
              </div> -->
                <div class="d-flex ion-float-right approved-bedge" *ngIf="job.status == 'APPROVED'">
                  <label class="fw-400 sub-heading-xs pr-4">
                    Approved
                  </label>
                </div>
                <div class="d-flex ion-float-right completed-bedge" *ngIf="job.status == 'COMPLETED'">
                  <label class="fw-400 sub-heading-xs pr-4">
                    Completed
                  </label>
                </div>
                <div class="d-flex ion-float-right pending-inreview-bedge"
                  *ngIf="job.status == 'IN_REVIEW' || job.status == 'PENDING'">
                  <label class="fw-400 sub-heading-xs pr-4">
                    Pending
                  </label>
                </div>
                <div class="d-flex ion-float-right standBy-bedge" *ngIf="job.status == 'STAND_BY'">
                  <label class="fw-400 sub-heading-xs pr-4">
                    Pending
                  </label>
                </div>
                <div class="d-flex ion-float-right rejected-bedge" *ngIf="job.status == 'REJECTED'">
                  <label class="fw-400 sub-heading-xs pr-4">
                    Rejected
                  </label>
                </div>
                <div class="d-flex ion-float-right unwilling-bedge" *ngIf="job.status == 'UNWILLING'">
                  <label class="fw-400 sub-heading-xs pr-4">
                    Unwilling
                  </label>
                </div>
                <div class="d-flex ion-float-right apply-later-bedge" *ngIf="job.status == 'APPLY_LATER'">
                  <label class="fw-400 sub-heading-xs pr-4">
                    Apply Later
                  </label>
                </div>
              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content class="mt-12 pb-16 pr-16 pl-16 card-wrap">
            <ion-row>
              <ion-col size="12" class="p-0">
                <div class="d-flex">
                  <div class="pr-8">
                    <img src="../../assets/imgs/Iconsax/Svg/All/outline/location.svg">
                  </div>
                  <div class="ternary sub-heading-xs fw-400">
                    {{job?.location?.address | Description : 100}}
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row class="pt-8">
              <!-- <ion-col size="8.5"> -->
              <ion-col size="12" class="p-0">
                <div class="d-flex">
                  <div class="pr-8 d-grid">
                    <img src="../../assets/imgs/Iconsax/Svg/All/outline/calendar-1.svg">
                  </div>
                  <!-- <div class="ternary sub-heading-xs fw-400 ion-align-self-center">
                    {{job?.dates[0].date | formatDate | date: 'MMM dd, yyyy'}}
                    {{job?.dates[0].timeFrom | formatTime | date: 'hh:mm a' }} to {{job.dates[0].timeTo |
                    formatTime | date: 'hh:mm a'}}
                  </div> -->

                  <div
                    *ngIf="!jobUtilService.shiftDayChange(job?.dates[0]?.date,job?.dates[0]?.timeFrom,job?.dates[0]?.timeTo)"
                    class="ternary sub-heading-xs fw-400 ion-align-self-center">
                    {{job?.dates[0].date | formatDate | date: 'MMM dd, yyyy'}}
                    {{job?.dates[0].timeFrom | formatTime | date: 'hh:mm a' }} to {{job.dates[0].timeTo |
                    formatTime | date: 'hh:mm a'}}
                  </div>
                  <div
                    *ngIf="jobUtilService.shiftDayChange(job?.dates[0]?.date,job?.dates[0]?.timeFrom,job?.dates[0]?.timeTo)"
                    class="ternary sub-heading-xs fw-400 ion-align-self-center">
                    {{job?.dates[0]?.date | formatDate | date: 'MMM dd, yyyy'}}
                    {{job?.dates[0]?.timeFrom | formatTime | date: 'hh:mm a' }} to
                    {{jobUtilService?.newDayDate | formatDate | date: 'MMM dd, yyyy'}}
                    {{job?.dates[0]?.timeTo |
                    formatTime | date: 'hh:mm a'}}
                  </div>
                </div>
              </ion-col>
              <!-- <ion-col size="3.5">
                        <div class="d-flex">
                            <img class="mr-8" src="../../assets/imgs/Iconsax/Svg/All/outline/dot.svg">
                            <div class="primary fw-400 sub-heading-xs"> 4km away </div>
                        </div>
                    </ion-col> -->
            </ion-row>
            <!-- <ion-row class="pt-8">
            <ion-col size="12">
              <div class="d-flex">
                <div class="pr-8 ion-align-self-center">
                  <img src="../../assets/imgs/Iconsax/Svg/All/outline/rupee.svg">
                </div>
                <div class="d-flex">
                  <div class="primary fw-500 sub-heading-xs pr-4">
                    &#x20b9;{{job.jobSeekerPaymentInfo.minRate}} -
                    &#x20b9;{{job.jobSeekerPaymentInfo.maxRate}} </div>
                  <div class="fw-400 ternary sub-heading-xs"> /hour</div>
                </div>
              </div>
            </ion-col>
          </ion-row> -->
          </ion-card-content>
        </ion-card>
      </div>
    </div>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="myJobsService.myJobsList?.length != 0">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>