<ion-content class="container">
  <div class="c-container-body mt-24 ml-16 mr-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary ion-text-center">{{navParams.get('title')}}</div>
    <div class="ion-text-center mt-24">
      <div class="custom-file-upload">
        <div class="camera_outine">
          <img [src]="activeJobService?.markAttendancePicture" alt=""
            onerror="this.src='../../assets/imgs/Iconsax/Svg/All/outline/avatar_vector.svg'" (click)="uploadPicture()">
        </div>
      </div>
    </div>
    <div class="ion-text-center fw-400 sub-heading-sm secondary graphik-font mt-24">{{navParams.get('message')}}</div>
  </div>
</ion-content>

<ion-footer>
  <div class="mt-10">
    <custom-button [title]="navParams.get('okBtnText')" (btnClick)="saveAttandanceImage()" [button]="'primary'">
    </custom-button>
  </div>
</ion-footer>