<app-profile-header [headerTitle]="pageTitle" [showBackBtn]="true" [isModal]="true"></app-profile-header>

<ion-content>
  <div class="c-container-body mt-24 ml-16 mr-16">
    <div *ngFor="let jobType of onboardingService?.jobCategories">
      <div class="sub-heading-sm bold-graphik-font secondary fw-500 mt-24 mb-8">{{jobType.name}}</div>

      <ion-chip *ngFor="let subJobTypeCategory of jobType?.jobTypes;let i=index"
        (click)="addSubJobCategory(subJobTypeCategory)"
        [ngClass]="{'active-chip' : subJobTypeCategory.active,'in-active-chip' : !subJobTypeCategory.active}">
        <ion-label class="sub-heading-md fw-400" [ngClass]="{'ternary':!subJobTypeCategory.active}">
          {{subJobTypeCategory.jobTypeName}}
        </ion-label>
        <ion-icon name="add" *ngIf="!subJobTypeCategory.active"></ion-icon>
        <ion-icon name="close" *ngIf="subJobTypeCategory.active"></ion-icon>
      </ion-chip>

      <ion-chip *ngIf="jobType?.jobTypes?.length == 0" class="in-active-chip">
        <ion-label class="sub-heading-md fw-400">No Data</ion-label>
      </ion-chip>

      <!-- <div class="d-flex mt-16">
        <div>
          <ion-icon class="add-more-icon" name="add"></ion-icon>
        </div>
        <div class="add-more">Add more</div>
      </div> -->
    </div>
  </div>
</ion-content>

<ion-footer>
  <custom-button [title]="'Save'" (btnClick)="saveJobTypes()" [button]="'primary'">
  </custom-button>
</ion-footer>