.c-header-wrapper {

    .header-wrap {
        background: linear-gradient(180deg, #080A52 0%, #B2B3CB 100%);
        height: 112px;
        color: #fff;

    }

    .profile-wrap {
        margin-top: -38px;

        .profile-img-wrap {
            width: 80px;
            height: 80px;
            background: #E8E8E8;
            border: 4px solid #FFFFFF;
            border-radius: 200px;

            .profile-img-inner-wrap {
                position: absolute;
                width: 24px;
                height: 24px;
                background: #E9E9FE;
                border: 2px solid #FFFFFF;
                border-radius: 48px;
                left: 193px;
                top: 50px;

                .man-pin {
                    width: 16px;
                    height: 16px;
                    vertical-align: bottom;
                }
            }
        }
    }

    .custom-file-upload {
        display: inline-block;
        cursor: pointer;

        .camera_outine {
            display: inline-block;
            height: 50px;

            img {
                width: 100px;
                height: 100px;
                border-radius: 200px;
            }

            .profile-img-inner-wrap {
                position: absolute;
                width: 24px;
                height: 24px;
                background: #E9E9FE;
                border: 2px solid #FFFFFF;
                border-radius: 48px;
                left: 200px;
                top: 150px;

                .man-pin {
                    width: 16px;
                    height: 16px;
                    vertical-align: bottom;
                }
            }
        }
    }
}