<ion-header class="c-header-wrapper">
  <ion-toolbar>
    <ion-row class="d-flex bottom-border" *ngIf="showBackBtn">
      <ion-col class="d-flex pb-0 pt-0 pl-16 pr-16" size="12">
        <ion-row class="d-contents">
          <ion-col size="3" class="logo-title ion-align-self-center pr-0 pb-0 pt-0">
            <div class="img-wrapper d-flex">
              <img src="../../assets/imgs/Iconsax/Svg/All/outline/arrow-left.svg" (click)="back()">
              <div class="header-title ion-align-self-center ml-8">
                <div class="sub-heading-md secondary fw-400">Back</div>
              </div>
            </div>
          </ion-col>
          <ion-col size="6" class="ion-text-align-center pl-0 pr-0 pb-0 pt-0 ion-text-center">
            <div class="sub-heading-md fw-500 secondary mt-14 mb-14 mr-8 ml-0 w-100 ion-text-center">
              {{headerTitle}}</div>
          </ion-col>
          <ion-col size="3" class="pl-0 pr-0 pb-0 pt-0">
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <div *ngIf="!showBackBtn">
      <div class="header-wrap">
        <ion-row>
          <ion-col class="pl-16 pl-0" [size]="showContactIcon ? 8 : 12">
            <div>
              <div class="sub-heading-xl fw-600 mt-14 mb-14">{{headerTitle}}</div>
            </div>
          </ion-col>
          <ion-col size="4">
            <div class="ion-text-end">
              <!-- <img class="mt-14 mb-14 pr-8" src="../../../assets/imgs/Iconsax/Svg/All/outline/notification-dot.svg"
                (click)="goToNotification()"> -->
            </div>
          </ion-col>
        </ion-row>
      </div>
      <div class="profile-wrap">
        <ion-row *ngIf="!profileService.profile_picture">
          <ion-col size="12" class="p-0">
            <div style="text-align: -webkit-center;">
              <div class="profile-img-wrap ion-text-center">
                <div class="fw-500 secondary sub-heading-xl ion-text-uppercase mt-20">{{profileService.initialOfName}}
                </div>
                <div class="profile-img-inner-wrap">
                  <img class="ion-text-center man-pin" src="../../../assets/imgs/Iconsax/Svg/All/outline/manpin.svg">
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>

        <div class="ion-text-center" *ngIf="profileService.profile_picture">
          <div class="custom-file-upload">
            <div class="camera_outine">
              <img [src]="profileService.profile_picture" alt="" (click)="uploadPicture()">
              <div class="profile-img-inner-wrap">
                <img class="ion-text-center man-pin" src="../../../assets/imgs/Iconsax/Svg/All/outline/manpin.svg">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <ion-row *ngIf="showSearch">
      <ion-col size="12">
        <div class="ml-16 mr-16 mb-8 search-wrap">
          <custom-input [inputType]="'text'" [placeholder]="'Search'" [ngModelData]="search"
            (keyUp)="searchKeyUp($event)" [iconPosition]="'left'" [id]="'search'"
            [imgPath]="'../../assets/imgs/Iconsax/Svg/All/outline/search-normal-1.svg'">
          </custom-input>
        </div>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>