.content-wrap {

    #loader {
        // position: absolute;
        left: 60%;
        top: 50%;
        z-index: 1;
        width: 30px;
        height: 30px;
        // margin: -50px 0 0 -64px;
        margin: auto;
        border: 4px solid #f3f3f3;
        border-radius: 50%;
        border-top: 4px solid #080A52;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
    }

    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    // border-top: 1px solid #E8E8E8;

    // .content-wrap-inner {
    //     box-shadow: 0px 1px 2px rgba(26, 26, 26, 0.04);
    //     border-bottom: 1px solid #E8E8E8;
    // }

    // .card-wrap {
    //     img {
    //         max-width: none;
    //     }
    // }

    // .c-card-wrap {
    //     background: #FFFFFF;
    //     border-radius: 12px;
    //     margin-inline: 0px;
    //     margin-top: 0px;
    // }

    // .enable-location-wrap {
    //     top: 65% !important;
    // }

    // .ml-52 {
    //     margin-left: 52px;
    // }

    // .ml-45 {
    //     margin-left: 45px;
    // }

    // .work-img-wrap {
    //     justify-content: center;
    //     align-items: center;
    //     // padding: 24px 32px;
    //     width: 84px;
    //     height: 84px;
    //     background: #FFFFFF;
    //     border: 1.2px solid #E8E8E8;
    //     border-radius: 12px;
    // }

    // .more-work-img-wrap {
    //     padding: 24px 28px;
    // }
}