<app-active-job-header [headerTitle]="'Active job'"></app-active-job-header>

<ion-content>
  <div class="content-wrap">
    <div class="data-not-found-wrap" *ngIf="activeJobService?.isLoading">
      <div id="loader"></div>
      <div class="mt-10 ml-12 primary fw-500 sub-heading-sm"> Loading...</div>
    </div>
    <!-- <div class="data-not-found-wrap" *ngIf="!activeJobService.activeJob?.job">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/no-active-job.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="secondary fw-600 sub-heading-xl">No active job</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="fw-400 sub-heading-sm ternary">Currently, there is no active job to perform. Apply to a job to
              start working</div>
          </ion-col>
        </ion-row>

        <ion-row class="mt-22">
          <ion-col size="12" class="p-0">
            <custom-button [title]="'Apply for a job'" [button]="'primary'" [disabled]="false"
              (btnClick)="applyForJob()">
            </custom-button>
          </ion-col>
        </ion-row>
      </div>
    </div> -->
  </div>
</ion-content>