<app-active-job-header [headerTitle]="'Active job'"></app-active-job-header>

<ion-content>
  <div class="content-wrap">
    <div class="data-not-found-wrap" *ngIf="!activeJobService.activeJob">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/no-active-job.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="secondary fw-600 sub-heading-xl">No active job</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="fw-400 sub-heading-sm ternary">Currently, there is no active job to perform. Apply to a job to
              start working</div>
          </ion-col>
        </ion-row>

        <ion-row class="mt-22">
          <ion-col size="12" class="p-0">
            <custom-button [title]="'Apply for a job'" [button]="'primary'" [disabled]="false"
              (btnClick)="applyForJob()">
            </custom-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- 1 -->
    <div class="content-wrap-inner" *ngIf="activeJobService.activeJob && !activeJobService.jobCompleted">
      <div class="mt-16 ml-16 mr-16">
        <div class="c-card-wrap">
          <div class="pb-0 card-wrap-header">
            <ion-row class="c-card-header-wrap">
              <ion-col size="12" class="pl-0 pt-0">
                <div class="secondary fw-500 sub-heading-md ion-text-capitalize">
                  {{activeJobService.activeJob?.employmentTitle ? activeJobService.activeJob?.employmentTitle :
                  activeJobService.activeJob?.title}}</div>
              </ion-col>
            </ion-row>
          </div>

          <div class="pt-12 card-wrap">
            <ion-row>
              <ion-col size="12" class="pl-0">
                <div class="d-flex">
                  <div class="pr-8">
                    <img src="../../assets/imgs/Iconsax/Svg/All/outline/location.svg">
                  </div>
                  <div class="ternary sub-heading-sm fw-400">
                    {{activeJobService.activeJob?.location.address | Description : 100}}
                  </div>
                </div>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="12" class="pl-0 pt-8 pb-16">
                <div class="d-flex">
                  <div class="pr-8">
                    <img src="../../assets/imgs/Iconsax/Svg/All/outline/calendar-1.svg">
                  </div>
                  <div class="ternary sub-heading-sm fw-400 ion-align-self-center">
                    {{activeJobService.activeJob?.dates[0].date | formatDate | date: 'MMM dd, yyyy'}}
                    {{activeJobService.activeJob?.dates[0].timeFrom | formatTime | date: 'hh:mm a' }} to
                    {{activeJobService.activeJob?.dates[0].timeTo |
                    formatTime | date: 'hh:mm a'}}
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>

    <!-- 2 -->
    <div class="data-not-found-wrap enable-location-wrap"
      *ngIf="activeJobService.activeJob?.attendanceLocationTrackerRequired && 
    activeJobService.activeJob?.attendance?.content?.length == 0 && !activeJobService?.endBeforeFifteenMin && !activeJobService.jobCompleted">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/enable-location.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="secondary fw-600 sub-heading-xl">Enable locations</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12">
            <div class="fw-400 sub-heading-sm ternary">Hour4u need your permission to fetch the your distance. Select
              "Allow Always" when promoted.</div>
          </ion-col>
        </ion-row>

        <ion-row class="mt-22">
          <ion-col size="12">
            <custom-button [title]="'Enable location'" [button]="'primary'" [disabled]="false"
              (btnClick)="enableLocation()">
            </custom-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- 3 -->
    <!-- <div class="data-not-found-wrap enable-location-wrap">
          <div class="pb-0">
            <ion-row>
              <ion-col size="12">
                <img src="../../assets/imgs/fetch-location.svg">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="secondary fw-600 sub-heading-xl">We are fetching our location...</div>
              </ion-col>
            </ion-row>
          </div>
          <div class="mt-12">
            <ion-row>
              <ion-col size="12">
                <div class="fw-400 sub-heading-sm ternary">We are looking for your location. Please ensure your location
                  service is on and your internet connection is stable.</div>
              </ion-col>
            </ion-row>
          </div>
        </div> -->

    <!-- 4 -->
    <!-- <div class="data-not-found-wrap enable-location-wrap">
          <div class="pb-0">
            <ion-row>
              <ion-col size="12">
                <img src="../../assets/imgs/navigate-location.svg">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12">
                <div class="secondary fw-600 sub-heading-xl">Navigate to your job location</div>
              </ion-col>
            </ion-row>
          </div>
          <div class="mt-12">
            <ion-row>
              <ion-col size="12">
                <div class="fw-400 sub-heading-sm ternary">Seems like you are not there yet! Move to your location to
                  kick-off the shift</div>
              </ion-col>
            </ion-row>

            <ion-row class="mt-22">
              <ion-col size="12">
                <custom-button [title]="'Navigate'" [button]="'primary'" [disabled]="false" (btnClick)="navigateLocation()">
                </custom-button>
              </ion-col>
            </ion-row>
          </div>
        </div> -->

    <!-- 5 -->
    <div class="data-not-found-wrap enable-location-wrap" *ngIf="activeJobService.activeJob && activeJobService.activeJob?.attendance?.content?.length == 0 && activeJobService.startBeforeThirtyMin 
      && !activeJobService.showPaymentPage && !activeJobService.jobCompleted">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/mark-attendance.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="secondary fw-600 sub-heading-xl">Mark your attendance</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="fw-400 sub-heading-sm ternary">Congratulations! You have arrived at the location. Click on
              Check-in to start working.</div>
          </ion-col>
        </ion-row>

        <ion-row class="mt-22">
          <ion-col size="12" class="p-0">
            <custom-button [title]="'Check-in'" [button]="'primary'" [disabled]="false" (btnClick)="checkIn()">
            </custom-button>
          </ion-col>
        </ion-row>
      </div>
    </div>


    <!-- 6 -->
    <div class="data-not-found-wrap enable-location-wrap"
      *ngIf="activeJobService.activeJob && !activeJobService.startBeforeThirtyMin && !activeJobService.showPaymentPage && !activeJobService.jobCompleted">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/mark-attendance.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="secondary fw-600 sub-heading-xl">Job is about to start</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12" class="p-0">
            <div class="fw-400 sub-heading-sm ternary">Congratulations! You have arrived at the location. Your job
              is about to start and you will be able to check-in 30mins before the job start time.</div>
          </ion-col>
        </ion-row>

        <ion-row class="mt-22">
          <ion-col size="12" class="p-0">
            <custom-button [title]="'Check-in'" [button]="'primary'" [disabled]="true" (btnClick)="checkIn()">
            </custom-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- 7 -->
    <div class="mt-16 ml-16 mr-16"
      *ngIf="activeJobService.activeJob && activeJobService.activeJob?.attendance?.content?.length != 0 && 
    activeJobService.inTime.length != 0 && !activeJobService?.endBeforeFifteenMin && !activeJobService.showPaymentPage && !activeJobService.jobCompleted">
      <app-active-job-flow-stepper active-step="1"></app-active-job-flow-stepper>
      <div class="ternary ml-52 fw-400 sub-heading-sm">
        During your shift, you are required to upload pictures for your documentation and reports. Please keep uploading
        the pictures.
      </div>
      <div class="ternary ml-52 fw-400 sub-heading-sm">
        Please describe the pictures with regards to what kind of work you did, for whom, etc.
      </div>

      <ion-row class="mt-12 ml-45" *ngIf="activeJobService?.workImages?.length != 0">
        <ion-col size="4">
          <img class="work-img-wrap"
            [src]="activeJobService?.workImages[0]?.imagePath != null ? 'https://hour4u-img-data.s3.ap-south-1.amazonaws.com/' + activeJobService?.workImages[0]?.imagePath : ''"
            onerror="this.src='../../assets/imgs/Rectangle 12men.png'" (click)="uploadWorkPicture()">
        </ion-col>
        <ion-col size="4" *ngIf="activeJobService?.workImages?.length > 1">
          <img class="work-img-wrap"
            [src]="activeJobService?.workImages[1]?.imagePath != null ? 'https://hour4u-img-data.s3.ap-south-1.amazonaws.com/' + activeJobService?.workImages[1]?.imagePath : ''"
            onerror="this.src='../../assets/imgs/Rectangle 12men.png'" (click)="uploadWorkPicture()">
        </ion-col>
        <ion-col size="4" *ngIf="activeJobService?.workImages?.length > 2">
          <div class="work-img-wrap more-work-img-wrap secondary sub-heading-xl-md fw-500">
            +{{activeJobService?.workImages?.length}}</div>
        </ion-col>
      </ion-row>

      <ion-row class="mt-24"
        *ngIf="activeJobService?.workImages?.length == 0 && !activeJobService?.endBeforeFifteenMin && !activeJobService.showPaymentPage">
        <ion-col size="12">
          <custom-button [title]="'Upload work pictures'" [button]="'primary'" [disabled]="false"
            (btnClick)="uploadWorkPictures()">
          </custom-button>
        </ion-col>
      </ion-row>

      <ion-row class="mt-24"
        *ngIf="activeJobService?.workImages?.length != 0 && !activeJobService?.endBeforeFifteenMin && !activeJobService.showPaymentPage">
        <ion-col size="12">
          <custom-button [title]="'Upload more work pictures'" [button]="'secondary'" [disabled]="false"
            (btnClick)="uploadMoreWorkPictures()">
          </custom-button>
        </ion-col>
      </ion-row>
    </div>

    <!-- 8 -->
    <div class="data-not-found-wrap enable-location-wrap"
      *ngIf="activeJobService?.endBeforeFifteenMin && !activeJobService.showPaymentPage && !activeJobService.jobCompleted">
      <div class="pb-0">
        <ion-row>
          <ion-col size="12">
            <img src="../../assets/imgs/mark-attendance.svg">
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <div class="secondary fw-600 sub-heading-xl">Job is about to end</div>
          </ion-col>
        </ion-row>
      </div>
      <div class="mt-12">
        <ion-row>
          <ion-col size="12">
            <div class="fw-400 sub-heading-sm ternary">Congratulations! You are close to finish your job. When you
              finish working, please click on check-out button and sign-off.</div>
          </ion-col>
        </ion-row>

        <ion-row class="mt-22">
          <ion-col size="12">
            <custom-button [title]="'Check-out'" [button]="'primary'" [disabled]="false" (btnClick)="checkOut()">
            </custom-button>
          </ion-col>
        </ion-row>

        <ion-row class="mt-12">
          <ion-col size="12">
            <custom-button [title]="'Upload more work pictures'" [button]="'secondary'" [disabled]="false"
              (btnClick)="uploadMoreWorkPictures()">
            </custom-button>
          </ion-col>
        </ion-row>
      </div>
    </div>

    <!-- 9 -->
    <div class="mt-16 ml-16 mr-16" *ngIf="activeJobService.showPaymentPage && !activeJobService.jobCompleted">
      <app-active-job-summary></app-active-job-summary>
    </div>

  </div>
</ion-content>