<app-onboarding-header *ngIf="!loginUserId"></app-onboarding-header>

<ion-content class="container" *ngIf="!loginUserId">
  <div class="c-container-body mt-24 ml-16 mr-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary">Start with your phone number</div>

    <div class="c-input-label secondary mt-24 mb-8">
      <ion-label class="sub-heading-sm bold-graphik-font fw-500">Enter your phone number</ion-label>
    </div>

    <custom-input [inputType]="'tel'" [placeholder]="'Phone'" [ngModelData]="onboardingService.mobile" [isNumber]="true"
      (keyUp)="onKeyUp($event)" (pasteData)="onPaste($event)" [maxlength]="'10'" [id]="'mobile'">
    </custom-input>

    <div class="sub-heading-sm bold-graphik-font fw-400 ternary mt-8">You will receive a 6-digit OTP on this number to
      verify </div>
    <!-- <a href="https://api.whatsapp.com/send?phone={{onboardingService.mobile}}&amp;text={{data}}" target="_blank">
      <img class="mt-14 mb-14 pr-8" src="../../../assets/imgs/help-contact.svg">
    </a> -->
  </div>
</ion-content>

<ion-footer *ngIf="!loginUserId">
  <!-- (btnClick)="openOTPPage()" -->
  <custom-button [title]="'Next'" appDebounceClick (debounceClick)="openOTPPage()" [debounceTimeConst]="300"
    [disabled]="!onboardingService.mobile || onboardingService.mobile.length != 10" [button]="'primary'">
  </custom-button>
</ion-footer>