.content-wrap {
    .mark-attendance-wrap {
        top: 65% !important;
    }

    .work-img-wrap {
        justify-content: center;
        align-items: center;
        // padding: 24px 32px;
        width: 84px;
        height: 84px;
        background: #FFFFFF;
        border: 1.2px solid #E8E8E8;
        border-radius: 12px;
    }

    .more-work-img-wrap {
        padding: 24px 28px;
    }

    .ml-52 {
        margin-left: 52px;
    }

    .ml-45 {
        margin-left: 45px;
    }

    .w-92 {
        width: 92%;
    }
}