<app-active-job-header [headerTitle]="'Edit payment'" [showBackBtn]="true"></app-active-job-header>

<ion-content>
  <div class="content-wrap">
    <div class="ml-16 mr-16 mt-24">
      <div class="content-header-wrap">
        <div class="fw-600 secondary sub-heading-xl">
          Edit your estimated payment
        </div>
        <div class="fw-400 secondary sub-heading-sm mt-8 pb-16">
          If your estimated payment doesn’t match the agreed amount, you can edit it and wait for the approval.
        </div>
      </div>

      <div class="mt-16">
        <ion-row>
          <ion-col size="12" class="pl-0">
            <div class="fw-400 sub-heading-sm ternary">Estimated payment</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="pl-0">
            <div class="fw-500 sub-heading-sm secondary">&#x20b9;{{activeJobService?.totalPayment || 0}}</div>
          </ion-col>
        </ion-row>
      </div>

      <div class="mt-24">
        <ion-row>
          <ion-col size="12" class="pl-0">
            <div class="fw-500 sub-heading-sm secondary">Expected payment*</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" class="pl-0">
            <custom-input [inputType]="'tel'" [placeholder]="'&#x20b9; 0'"
              [ngModelData]="activeJobService.expectedAmount" [id]="'expectedAmount'"
              (keyUp)="addExpectedAmount($event)">
            </custom-input>
          </ion-col>
        </ion-row>
      </div>

      <div class="mt-16">
        <ion-row>
          <ion-col size="12" class="pl-0">
            <div class="fw-500 sub-heading-sm secondary">Reason to change the expected payment*</div>
          </ion-col>
        </ion-row>
        <custom-input [inputType]="'textarea'" [placeholder]="'Type a reason here'"
          [ngModelData]="activeJobService.reasonForExpectedAmount" [id]="'reasonForExpectedAmount'" [rows]="'5'"
          (keyUp)="addReasonForExpectedAmount($event)" [maxlength]="activeJobService.maxlengthReasonForExpectedAmount">
        </custom-input>
        <div class="sub-heading-sm ternary fw-400 mt-8 ml-4">
          {{activeJobService.leftCharactersForExpectedAmount}} characters left</div>
        <div *ngIf="!activeJobService.reasonForExpectedAmount" class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Enter
          reason to change the expected payment </div>
      </div>
    </div>
  </div>
</ion-content>


<ion-footer>
  <ion-row>
    <ion-col size="12" class="pl-0 pr-0">
      <custom-button [title]="'Submit updated amount'"
        [disabled]="!activeJobService.reasonForExpectedAmount || !activeJobService.expectedAmount"
        (btnClick)="submitUpdatedAmount()" [button]="'primary'">
      </custom-button>
    </ion-col>
  </ion-row>
</ion-footer>