<app-onboarding-header></app-onboarding-header>

<ion-content class="container">
  <div class="c-container-body mt-24 ml-16 mr-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary">Upload your profile picture</div>
    <div class="ion-text-center mt-24">
      <div class="custom-file-upload">
        <div class="camera_outine">
          <img [src]="onboardingService.profile_picture" alt=""
            onerror="this.src='../../assets/imgs/camera_placeholder.svg'" (click)="uploadPicture()">
        </div>
      </div>
    </div>
    <div class="ion-text-center fw-400 sub-heading-sm secondary graphik-font mt-24">Ideally, it is good to have
      professional
      picture which can help our team to see you in
      a professional environment. </div>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="!onboardingService.profile_picture">
    <custom-button [title]="'Skip'" (btnClick)="skipProfilePictureUpload()" [button]="'ternary'">
    </custom-button>
  </div>
  <div class="mt-10" *ngIf="!onboardingService.profile_picture">
    <custom-button [title]="'Upload a picture'" (btnClick)="uploadPicture()" [button]="'primary'">
    </custom-button>
  </div>

  <div *ngIf="onboardingService.profile_picture">
    <custom-button [title]="'Re-upload'" (btnClick)="uploadPicture()" [button]="'ternary'">
    </custom-button>
  </div>
  <div class="mt-10" *ngIf="onboardingService.profile_picture">
    <custom-button [title]="'Next'" (btnClick)="openJobType()" [button]="'primary'">
    </custom-button>
  </div>
</ion-footer>