<app-onboarding-header></app-onboarding-header>

<ion-content class="container m-10">
  <div class="c-container-body mt-20 ml-15 mr-15">
    <div class="main-body-heading-sm bold-graphik-font fw-600">Upload your profile picture</div>
    <div class="text-align-center">
      <div class="custom-file-upload">
        <div class="camera_outine">
          <img [src]="onboardingService.profile_picture" alt="" onerror="this.src='../../assets/imgs/camera.png'"
            (click)="uploadPicture()">
        </div>
      </div>
    </div>
    <div class="text-align-center fw-400 sub-heading-sm secondary graphik-font">Ideally, it is good to have professional
      picture which can help our team to see you in
      a professional environment. </div>
  </div>
</ion-content>

<ion-footer>
  <div *ngIf="!onboardingService.profile_picture">
    <custom-button [title]="'Skip'" (btnClick)="skipProfilePictureUpload()" [button]="'ternary'">
    </custom-button>
  </div>
  <div class="mt-10" *ngIf="!onboardingService.profile_picture">
    <custom-button [title]="'Upload a picture'" (btnClick)="uploadPicture()" [button]="'primary'">
    </custom-button>
  </div>

  <div *ngIf="onboardingService.profile_picture">
    <custom-button [title]="'Re-upload'" (btnClick)="uploadPicture()" [button]="'ternary'">
    </custom-button>
  </div>
  <div class="mt-10" *ngIf="onboardingService.profile_picture">
    <custom-button [title]="'Next'" (btnClick)="openJobType()" [button]="'primary'">
    </custom-button>
  </div>
</ion-footer>