<app-available-jobs-header [showSearch]="false" [headerTitle]="'Jobs details'" [showBackBtn]="true"
  [showProfileLogo]="false">
</app-available-jobs-header>

<ion-content>
  <div class="c-container-wrap ml-16 mr-16 mt-20 mb-16">
    <div class="c-card-wrap">
      <div class="pb-0">
        <ion-row class="bottom-border pb-16">
          <ion-col size="12">
            <div class="secondary fw-600 sub-heading-xl ion-text-capitalize">{{availableJobsService.selectedJobDetails?.employmentTitle ?
              availableJobsService.selectedJobDetails?.employmentTitle :
              availableJobsService.selectedJobDetails?.title}}
            </div>
          </ion-col>
        </ion-row>
      </div>

      <div class="mt-16 card-wrap">
        <ion-row>
          <ion-col size="12">
            <div class="d-flex">
              <div class="pr-8">
                <img src="../../assets/imgs/Iconsax/Svg/All/outline/location.svg">
              </div>
              <div class="ternary sub-heading-sm fw-400">
                {{availableJobsService.selectedJobDetails?.location.address | Description : 100}}
              </div>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="pb-16 pt-12 bottom-border">
          <!-- <ion-col size="8.5"> -->
          <ion-col size="12" class="pt-0">
            <div class="d-flex">
              <div class="pr-8">
                <img src="../../assets/imgs/Iconsax/Svg/All/outline/calendar-1.svg">
              </div>
              <div class="ion-align-self-center ternary sub-heading-sm fw-400">
                {{availableJobsService.selectedJobDetails?.dates[0].date | formatDate | date: 'MMM dd, yyyy'}}
                {{availableJobsService.selectedJobDetails?.dates[0].timeFrom | formatTime | date: 'hh:mm a' }} to
                {{availableJobsService.selectedJobDetails?.dates[0].timeTo |
                formatTime | date: 'hh:mm a'}}
              </div>
            </div>
          </ion-col>
          <!-- <ion-col size="3.5">
            <div class="d-flex">
              <img class="mr-8" src="../../assets/imgs/Iconsax/Svg/All/outline/dot.svg">
              <div class="primary fw-400 sub-heading-sm"> 4km away </div>
            </div>
          </ion-col> -->
        </ion-row>

        <div class="bottom-border pt-16">
          <ion-row>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Category</div>
              <div class="fw-500 sub-heading-md secondary">{{availableJobsService.selectedJobDetails?.jobTypeName}}
              </div>
            </ion-col>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Level</div>
              <div class="fw-500 sub-heading-md secondary">
                {{availableJobsService.selectedJobDetails?.jobSeekerPaymentInfo?.level}}</div>
            </ion-col>
          </ion-row>
          <ion-row class="pt-12 pb-16">
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Base Pay</div>
              <div class="fw-500 sub-heading-md secondary">
                &#x20b9;{{availableJobsService.selectedJobDetails?.basePrice}}
              </div>
            </ion-col>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Hourly rate range</div>
              <div class="d-flex">
                <div class="fw-500 sub-heading-md secondary">
                  &#x20b9;{{minTotal}} -
                  &#x20b9;{{maxTotal}} </div>
                <div class="fw-400 ternary sub-heading-sm pl-4 ion-align-self-center"> /hour</div>
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="bottom-border pt-16">
          <ion-row class="pb-16">
            <ion-col size="12" class="pt-0 pb-0">
              <div class="secondary fw-600 sub-heading-lg">Job description</div>
            </ion-col>
          </ion-row>

          <ion-row class="pb-16">
            <ion-col size="12" class="pt-0 pb-0">
              <div class="job-description ternary sub-heading-md fw-400" [class.show]="show"
                [ngClass]="{'h-auto' : availableJobsService.selectedJobDetails?.description?.length < 100}">
                {{availableJobsService.selectedJobDetails?.description}}
              </div>
              <div *ngIf="availableJobsService.selectedJobDetails?.description?.length > 100"
                class="fw-400 sub-heading-md primary mt-8" (click)="show = !show">{{ show ? 'Read less': 'Read more' }}
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="bottom-border pt-16">
          <ion-row class="pb-16">
            <ion-col size="12" class="pt-0 pb-0">
              <div class="d-flex ion-align-self-center">
                <div class="secondary fw-600 sub-heading-lg">Tasks</div>
                <div class="counter-bedge ion-align-self-center primary ml-8">
                  <div class="pt-4 pb-4 pl-12 pr-12 fw-400">{{availableJobsService.selectedJobDetails?.tasks?.length ||
                    0}}
                  </div>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="pb-16">
            <ion-col size="12" class="pt-0 pb-0">
              <ion-chip class="m-0 mt-12" *ngFor="let task of availableJobsService.selectedJobDetails?.tasks">
                <ion-label class="sub-heading-md secondary fw-400">{{task || '-'}}</ion-label>
              </ion-chip>
            </ion-col>
          </ion-row>
        </div>

        <div class="bottom-border pt-16">
          <ion-row class="pb-16">
            <ion-col size="12" class="pt-0 pb-0">
              <div class="secondary fw-600 sub-heading-lg">Dress Code</div>
            </ion-col>
          </ion-row>

          <ion-row class="pb-16">
            <ion-col size="12" class="pt-0 pb-0">
              <div class="ternary sub-heading-md fw-400">
                {{availableJobsService.selectedJobDetails?.dressCode || '-'}}
              </div>
            </ion-col>
          </ion-row>
        </div>

        <div class="pt-16">
          <ion-row class="pb-12">
            <ion-col size="12" class="pt-0 pb-0">
              <div class="d-flex ion-align-self-center">
                <div class="secondary fw-600 sub-heading-lg">Prerequisite</div>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="12" class="pt-0 pb-0">
              <ul class="m-0 mt-12 pl-16 primary" *ngIf="availableJobsService.selectedJobDetails?.prerequisites">
                <li>
                  <ion-label class="sub-heading-md secondary fw-400">
                    {{availableJobsService.selectedJobDetails?.prerequisites ||'-'}}
                  </ion-label>
                </li>
              </ul>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="d-flex ion-align-self-center">
    <ion-row class="w-100">
      <ion-col size="2" class="ion-align-self-center p-0 m-0">
        <div class="bookmark-wrap">
          <img
            *ngIf="!availableJobsService.selectedJobDetails?.applicationStatus && availableJobsService.jobSeeker?.status == 'Active'"
            (click)="bookmarkJob()" src="../../assets/imgs/Iconsax/Svg/All/outline/archive-bookmark.svg">
          <img *ngIf="availableJobsService.selectedJobDetails?.applicationStatus != null"
            src="../../assets/imgs/Iconsax/Svg/All/outline/bookmark-filled.svg">
        </div>
      </ion-col>
      <ion-col size="10">
        <custom-button [title]="btnTitle" [button]="'primary'" [disabled]="disableApplyJobBtn()"
          (btnClick)="applyForJob()">
        </custom-button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>