.c-container-wrap {
  .c-card-wrap {
    background: #FFFFFF;
    border-radius: 12px;
    margin-inline: 0px;
    margin-top: 0px;
  }

  .in-active-chip {
    border: 1px solid #E8E8E8;
    box-shadow: 0px 1px 2px rgba(26, 26, 26, 0.04);
    border-radius: 24px;
    background: #E8E8E8;
    min-height: 32px;
    height: auto;
    padding: 4px 12px 4px 12px;
    display: inline-table;
  }

  .job-description {
    height: 75px;
    overflow: hidden;
  }

  .h-auto {
    height: auto !important;
  }

  .show {
    overflow: visible;
    height: auto;
  }

  .counter-bedge {
    background: #E6E7EE;
    border-radius: 32px;
  }

  .card-wrap {
    img {
      max-width: none;
    }
  }
}

ion-footer {
  .bookmark-wrap {
    gap: 8px;
    width: 48px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}