<app-my-earnings-header [headerTitle]="'Payment'" [showBackBtn]="true" [showContactIcon]="false" [isModal]="true">
</app-my-earnings-header>

<ion-content class="container">
  <div class="c-container-body mt-24 ml-16 mr-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary">Add your account details</div>

    <div class="mt-8">
      <div class="secondary sub-heading-sm fw-400">Send funds directly to your bank</div>
    </div>

    <div class="secondary fw-500 sub-heading-sm secondary mt-24 mb-8">
      <ion-label>Account number*</ion-label>
    </div>
    <custom-input (pasteData)="pasteGetAccountNumber($event)" [inputType]="'text'"
      [placeholder]="'Enter your account number'" [ngModelData]="myEarningsService.accountNumber" [id]="'accountNumber'"
      (keyUp)="getAccountNumber($event)">
    </custom-input>

    <div class="secondary fw-500 sub-heading-sm secondary mt-16 mb-8">
      <ion-label>Confirm account number*</ion-label>
    </div>
    <custom-input (pasteData)="pasteGetConfirmAccountNumber($event)" [inputType]="'text'"
      [placeholder]="'Confirm your account number'" [ngModelData]="myEarningsService.confirm_accountNumber"
      [id]="'confirm_accountNumber'" (keyUp)="getConfirmAccountNumber($event)">
    </custom-input>
    <div *ngIf="myEarningsService.confirm_accountNumber != myEarningsService.accountNumber"
      class="mb-4 mt-4 ml-4 danger sub-heading-xs"> Account number not match </div>

    <div class="secondary fw-500 sub-heading-sm secondary mb-8 mt-16">
      <ion-label>IFSC Code*</ion-label>
    </div>
    <custom-input (pasteData)="pasteGetIFSCCode($event)" [inputType]="'text'"
      [placeholder]="'Enter IFSC code of your bank branch'" [ngModelData]="myEarningsService.ifscCode" [id]="'ifscCode'"
      (keyUp)="getIFSCCode($event)">
    </custom-input>

    <div class="secondary fw-500 sub-heading-sm secondary mb-8 mt-16">
      <ion-label>Name on account*</ion-label>
    </div>
    <custom-input (pasteData)="pasteGetAccountentName($event)" [inputType]="'text'"
      [placeholder]="'Enter your full name'" [ngModelData]="myEarningsService.nameOnAccount" [id]="'nameOnAccount'"
      (keyUp)="getAccountentName($event)">
    </custom-input>

    <div class="mt-24">
      <custom-input [inputType]="'checkbox'" [ngModelData]="myEarningsService.authorizeBankDetails"
        [value]="'I attest that I am the owner and have full authorization to this bank account.'"
        [id]="'authorizeBankDetails'" (checkboxChange)="authorizeBankDetails($event)">
      </custom-input>
    </div>
  </div>
</ion-content>

<ion-footer>
  <custom-button [title]="'Skip'" appDebounceClick (debounceClick)="skip()" [debounceTimeConst]="300" [id]="'skip-btn'"
    [button]="'ternary'">
  </custom-button>

  <custom-button [title]="myEarningsService?.accountId ? 'Update' : 'Save'" appDebounceClick
    (debounceClick)="saveAccountFormDetails()" [debounceTimeConst]="300" [disabled]="disable()" [button]="'primary'">
  </custom-button>
</ion-footer>