<app-my-earnings-header [headerTitle]="'Payment'" [showBackBtn]="true" [showContactIcon]="false">
</app-my-earnings-header>

<ion-content>
  <div class="c-container-body mt-24 ml-16 mr-16 mb-16">
    <div class="main-body-heading-sm bold-graphik-font fw-600 secondary">Add your account details</div>

    <div class="mt-8">
      <div class="secondary sub-heading-sm fw-400">Send funds directly to your bank</div>
    </div>

    <div class="secondary fw-500 sub-heading-sm secondary mt-24 mb-8">
      <ion-label>Account number*</ion-label>
    </div>
    <custom-input [inputType]="'text'" [placeholder]="'Enter your account number'"
      [ngModelData]="myEarningsService.account_number" [id]="'account_number'" (keyUp)="getAccountNumber($event)">
    </custom-input>

    <div class="secondary fw-500 sub-heading-sm secondary mt-16 mb-8">
      <ion-label>Confirm account number*</ion-label>
    </div>
    <custom-input [inputType]="'text'" [placeholder]="'Confirm your account number'"
      [ngModelData]="myEarningsService.confirm_account_number" [id]="'confirm_account_number'"
      (keyUp)="getConfirmAccountNumber($event)">
    </custom-input>

    <div class="secondary fw-500 sub-heading-sm secondary mb-8 mt-16">
      <ion-label>IFSC Code*</ion-label>
    </div>
    <custom-input [inputType]="'text'" [placeholder]="'Enter IFSC code of your bank branch'"
      [ngModelData]="myEarningsService.ifsc_code" [id]="'ifsc_code'" (keyUp)="getIFSCCode($event)">
    </custom-input>

    <div class="secondary fw-500 sub-heading-sm secondary mb-8 mt-16">
      <ion-label>Name on account*</ion-label>
    </div>
    <custom-input [inputType]="'text'" [placeholder]="'Enter your full name'"
      [ngModelData]="myEarningsService.accountent_name" [id]="'accountent_name'" (keyUp)="getAccountentName($event)">
    </custom-input>

    <div class="mt-24">
      <custom-input [inputType]="'checkbox'" [ngModelData]="myEarningsService.authorize_bank_details"
        [value]="'I attest that I am the owner and have full authorization to this bank account.'"
        [id]="'authorize_bank_details'" (checkboxChange)="authorizeBankDetails($event)">
      </custom-input>
    </div>
  </div>
</ion-content>

<ion-footer>
  <custom-button [title]="'Save'" (btnClick)="savePaymentAccountForm()" [disabled]="disable()" [button]="'primary'">
  </custom-button>
</ion-footer>