.content-wrap {
    .content-wrap-inner {
        // margin-top: -155px;
        background: #fff;
        backdrop-filter: blur(40px);
    }

    .img-container {
        // max-height: 80vh !important;
        // height: 75vh !important;
        max-height: 60vh !important;
        // height: 60vh !important;
        width: 100% !important;
    }
}

ion-footer {
    .w-118 {
        width: 118px;
    }
}