.container {
    .pl-10-77 {
        padding-left: 10.77px;
    }

    .pl-10-78 {
        padding-left: 10.78px;
    }

    .c-container-body {
        @media screen and (max-width: 767px) {
            ::ng-deep .otp-input {
                font-size: 18px !important;
            }

            ::ng-deep .ng-otp-input-wrapper .otp-input {
                width: 45px !important;
                height: 50px !important;
            }
        }
    }
}

.footer {
    background: #fff;
    border-top: 1px solid #E8E8E8;
    padding: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .img-outer-wrap {
        margin-top: 10px;
    }
}