.container {
    .pl-10-77 {
        padding-left: 10.77px;
    }

    .pl-10-78 {
        padding-left: 10.78px;
    }
}

.footer {
    background: #fff;
    border-top: 1px solid #E8E8E8;
    padding: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;

    .img-outer-wrap {
        margin-top: 10px;
    }
}