/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// IMPORT FONT-FAMILY
@import "./font-stylesheet.css";

// IMPORT SPACING FILES
@import "./margin-stylesheet.css";
@import "./padding-stylesheet.css";

// IMPORT ION-BUTTON CSS
@import "./ion-button-stylesheet.scss";

// Global color add
@import "./theme/variables.scss";

:host {
    font-family: "Graphik" !important;
}

html {
    font-family: "Graphik" !important;
}

body {
    font-family: "Graphik" !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
label,
ion-col,
ion-row {
    font-family: "Graphik" !important;
}

ion-content,
ion-header,
ion-footer,
app-onboarding-header,
ion-toolbar,
ion-tab-bar {
    font-family: "Graphik" !important;
    --background: #fff !important;
    background: #fff !important;
}

ion-card {
    --background: #fff !important;
    background: #fff !important;
}

ion-tab-bar {
    border-top: 1px solid #E8E8E8;
}

// COLOR CODE
.primary {
    color: var(--ion-color-primary);
}

.secondary {
    color: var(--ion-color-secondary);
}

.ternary {
    color: var(--ion-color-ternary);
}

.backgroud-color {
    background: #E8E8E8 !important;
}

// FONT WEIGHT
.fw-400 {
    font-weight: 400; // Regular Font
}

.fw-500 {
    font-weight: 500; // Medium Font
}

.fw-600 {
    font-weight: 600; // Semi-Bold Font
}

.fw-700 {
    font-weight: 700; // Bold font
}


// HEADER STYLES
@media screen and (max-width: 320px) {
    .main-body-heading-2xl {
        font-style: normal;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-xl {
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-lg {
        font-style: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-md {
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-sm {
        font-style: normal;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .main-body-heading-2xl {
        font-style: normal;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-xl {
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-lg {
        font-style: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-md {
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-sm {
        font-style: normal;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: -0.02em;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main-body-heading-2xl {
        font-style: normal;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-xl {
        font-style: normal;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-lg {
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-md {
        font-style: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-sm {
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
    .main-body-heading-2xl {
        font-style: normal;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-xl {
        font-style: normal;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-lg {
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-md {
        font-style: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-sm {
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
    }
}

@media screen and (min-width: 1441px) {
    .main-body-heading-2xl {
        font-style: normal;
        font-size: 40px;
        line-height: 48px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-xl {
        font-style: normal;
        font-size: 36px;
        line-height: 44px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-lg {
        font-style: normal;
        font-size: 32px;
        line-height: 40px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-md {
        font-style: normal;
        font-size: 28px;
        line-height: 36px;
        letter-spacing: -0.02em;
    }

    .main-body-heading-sm {
        font-style: normal;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.02em;
    }
}


// SUB-HEADER STYLES
.sub-heading-xl {
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
    // letter-spacing: -0.02em;
}

.sub-heading-xl-md {
    font-style: normal;
    font-size: 19.2px;
    line-height: 29px;
    // letter-spacing: -0.02em;
}

.sub-heading-lg {
    font-style: normal;
    font-size: 18px;
    line-height: 28px;
    // letter-spacing: -0.02em;
}

.sub-heading-md {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    // letter-spacing: -0.02em;
}

.sub-heading-sm {
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    // letter-spacing: -0.02em;
}

.sub-heading-xs {
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    // letter-spacing: -0.02em;
}

// GENERAL STYLES
.justify-content-center {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.d-contents {
    display: contents;
}

.c-pointer {
    cursor: pointer;
}

.header-md::after {
    background-image: none !important;
}

.position-fixed {
    position: fixed;
}

.position-absolute {
    position: absolute;
}

.inner-scroll {
    height: calc(100% - 175px) !important;
}

ion-footer {
    bottom: 0px;
    min-height: 64px;
    padding: 16px 16px 0px 16px;
    background: #fff;
    border: 1px solid #E8E8E8;
}

.w-100 {
    width: 100%;
}

ion-chip {
    border-radius: 32px;
    background: #E8E8E8;
    padding: 4px 12px;
}

.custom-loader {
    .loading-wrapper {
        background: transparent !important;
        box-shadow: none !important;
    }
}

.refresher-refreshing-icon,
.refresher-pulling-icon {
    background: transparent !important;
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
}

.search-wrap {
    img {
        height: 20px !important;
    }
}

.data-not-found-wrap {
    background: #FFFFFF;
    border-radius: 12px;
    margin-inline: 0px;
    margin-top: 0px;
    margin: 0 16px 0 16px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
}

.bottom-border {
    border-bottom: 1px solid #E8E8E8;
}