<div id="order-stepper" [class]="'process-wrap active-step' + activeStep">
  <div class="process-main">
    <div class="data-3">
      <div class="process-step-cont">
        <div class="process-step" [ngClass]="{'select-menu': activeStep == 1}" *ngIf="activeStep == 1">
          <img src="../../../assets/imgs/Iconsax/Svg/All/outline/tick-circle-1.svg">
        </div>
        <div *ngIf="!activeJobService?.dayChange" class="ion-align-self-center secondary sub-heading-md fw-500 ml-16">
          Checked in at:
          {{
          activeJobService.inTime | formatTime | date:
          'hh:mm a' }}
        </div>
        <div *ngIf="activeJobService?.dayChange" class="ion-align-self-center secondary sub-heading-md fw-500 ml-16">
          Checked in at:
          {{activeJobService.activeJob?.job?.dates[0].date | formatDate | date: 'MMM dd, yyyy'}}
          {{
          activeJobService.inTime | formatTime | date:
          'hh:mm a' }}
        </div>
      </div>
    </div>
    <div class="data-3">
      <div class="process-step-cont">
        <div class="process-step" [ngClass]="{'select-menu': activeStep == 2}" *ngIf="activeStep <= 2">
          <img src="../../../assets/imgs/Iconsax/Svg/All/outline/dot-circle.svg">
        </div>
        <div class="ion-align-self-center secondary sub-heading-md fw-500 ml-16">Upload work pictures</div>
      </div>
    </div>
  </div>
</div>