<app-available-jobs-header [showSearch]="false" [headerTitle]="'Set hourly rate'" [showBackBtn]="true"
  [showProfileLogo]="false">
</app-available-jobs-header>

<ion-content>
  <div class="c-container-wrap ml-16 mr-16 mt-20">
    <div class="c-card-wrap">
      <div class="pb-0">
        <ion-row class="bottom-border pb-16">
          <ion-col size="12" class="pt-0 pb-0">
            <div class="secondary fw-600 sub-heading-xl">Want to update you hourly rate?</div>
          </ion-col>
        </ion-row>
      </div>

      <div class="mt-12">
        <div class="bottom-border pb-16">
          <ion-row class="pt-16">
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Level</div>
              <div class="fw-500 sub-heading-md secondary">
                {{availableJobsService.selectedJobDetails?.jobSeekerPaymentInfo?.level || '-'}}</div>
            </ion-col>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Base Pay</div>
              <div class="fw-500 sub-heading-md secondary">&#x20b9;{{availableJobsService.selectedJobDetails?.basePrice
                ||
                0}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="pt-12">
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Current hourly rate</div>
              <div class="fw-500 sub-heading-md secondary">&#x20b9;{{hourlyRate || 0}}</div>
            </ion-col>
            <ion-col size="6" class="pt-0 pb-0">
              <div class="fw-400 sub-heading-sm ternary">Estimated payments</div>
              <div class="fw-500 sub-heading-md secondary"> &#x20b9;{{getMinTotal()}} -
                &#x20b9;{{getMaxTotal()}}</div>
            </ion-col>
          </ion-row>
        </div>

        <ion-row class="pt-16">
          <ion-col size="12">
            <div class="fw-400 sub-heading-sm ternary">Updated hourly rate</div>
          </ion-col>
        </ion-row>

        <ion-row class="pt-12">
          <ion-col size="6" class="pt-0 pb-0">
            <p class="start_ ion-float-left ternary fw-400 sub-heading-sm">
              &#8377;{{availableJobsService.selectedJobDetails?.jobSeekerPaymentInfo.minRate}}/hr
            </p>
          </ion-col>
          <ion-col size="6" class="pt-0 pb-0">
            <p class="end_ ion-float-right ternary fw-400 sub-heading-sm">
              &#8377;{{availableJobsService.selectedJobDetails?.jobSeekerPaymentInfo.maxRate}}/hr</p>
          </ion-col>
        </ion-row>

        <ion-row class="bottom-border">
          <ion-col size="12" class="p-0">
            <div class="fw-400 sub-heading-sm ternary">
              <ion-range [(ngModel)]="hourlyRate" (ionChange)="rateSliderChanged($event)"
                [min]="availableJobsService.selectedJobDetails?.jobSeekerPaymentInfo.minRate"
                [max]="availableJobsService.selectedJobDetails?.jobSeekerPaymentInfo.maxRate" color="primary" [step]="1"
                pin="true" class="range-pressed ion-text-center pt-0 pl-8 pr-8">
              </ion-range>
            </div>
          </ion-col>
        </ion-row>

        <ion-row class="pt-16">
          <ion-col size="12" class="pt-0 pb-0">
            <div class="fw-400 sub-heading-sm ternary">Estimated income*</div>
          </ion-col>
        </ion-row>

        <ion-row class="pt-12">
          <ion-col size="12" class="pt-0 pb-0">
            <div class="fw-600 main-body-heading-sm primary">&#x20b9;{{estimatedIncome || 0}}</div>
          </ion-col>
        </ion-row>

        <ion-row class="pt-8">
          <ion-col size="12" class="pt-0 pb-0">
            <div class="fw-400 sub-heading-xs ternary">Estimated income is for whole job duration</div>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <div class="d-flex ion-align-self-center">
    <ion-row class="w-100">
      <ion-col class="m-0" size="6">
        <!-- (btnClick)="cancelJob()" -->
        <custom-button [title]="'Cancel'" [button]="'ternary'" appDebounceClick (debounceClick)="cancelJob()"
          [debounceTimeConst]="300">
        </custom-button>
      </ion-col>
      <ion-col class="m-0" size="6">

        <!-- (btnClick)="submitJob()" -->
        <custom-button [title]="'Submit'" [button]="'primary'" appDebounceClick (debounceClick)="submitJob()"
          [debounceTimeConst]="300" [disabled]="disable()">
        </custom-button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>